sudo: required
dist: xenial
language: python
python:
  - "3.6"
  - "3.7"
# command to install dependencies
install:
  - make init
# command to run tests
script:
  - make test
  - make coverage
  - coveralls
notifications:
  email:
    - luke@lukeshiner.co.uk
