[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"e1839a8" = {path = ".", editable = true}
pyaml = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
requests-mock = "*"
coverage = "*"
pytest-cov = "*"
coveralls = "*"
sphinx-rtd-theme = "*"
sphinx = "*"

[requires]
python_version = "3.7"
